
# macOS
.DS_Store

# Swift Package / Tuist
.build/
.swiftpm/
.Tuist/

# Xcode
DerivedData/
Derived/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
/xcuserdata/

# Logs
*.log

# Environment
.env

.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp
.idea/
.vscode/

Build/
.tuist/
.tuist-version
.tuist-bin/
.env.*
